<% if @cocktail.photo.attached? %>
  <div class="banner" style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>');">
    <div class="banner-content">
      <h1><%= @cocktail.name %></h1>
    </div>
    <%= link_to "Cocktail Menu", cocktails_path %>
  </div>

<% else %>

  <div class="banner" style="background-image: url(https://www.cforcevital.com/bdimages/200519-BW-Cocktail.png);">
    <div class="banner-content">
      <h1><%= @cocktail.name %></h1>
    </div>
  </div>

<% end %>

<div class="card-large">
  <div class="cards">
    <% @cocktail.doses.each do |dose| %>
      <div class="card">
        <h1>Ingredient</h1>
        <p><%= dose.ingredient.name %></p>
        <div class="btn">
          <%= link_to "Delete", cocktail_doses_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
        </div>
      </div>
      <div class="card">
        <h1>Description</h1>
        <p><%= dose.description %></p>
        <div class="btn">
          <%= link_to "Delete", cocktail_doses_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
