<div class="cards">
  <div class="card">
    <%= link_to "Back to all cocktails", root_path %>
  </div>
  <div class="card">
     <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
  </div>
</div>

<div class="container w-50 mt-5">
  <div class="cards-show d-flex">
    <div class="cocktail-image">
      <% if @cocktail.photo.attached? %>
          <img src="<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>" alt="">
      <% else %>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmMvpKizDUTS1HE5rPxYAzP58OOwAGueoeLg&usqp=CAU" alt="">

      <% end %>
    </div>

    <div class="cocktail-description-ingredient position-relative">
      <div>
        <h1><%= @cocktail.name %></h1>
      </div>
      <% @cocktail.doses.each do |dose| %>
      <div>
         <h2>Ingredient</h2>
         <p><%= dose.ingredient.name %>
          <a rel="nofollow" href="/cocktails" data-method="delete">
          <i class="fas fa-trash-alt"></i>
          </a>
          </p>
      </div>

      <div>
       <h2>Description</h2>
       <p><%= dose.description %>
        <a rel="nofollow" href="/cocktails" data-method="delete">
          <i class="fas fa-trash-alt"></i>
        </a>
       </p>
     </div>
     <% end %>
    </div>

  </div>
</div>
